<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Bienvenido a mi pagina Web</h1>
    </header>
    <div style="padding: 50px;"></div>
    <div id="perfil">
        <a href="/creacionPerfil">Crear tu perfil</a>
        <a href="/editarPerfil">Editar tu perfil</a>
    </div>

</body>
</html>